.AddFriend {
	
	padding: 6px 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 10px;}

	.AddFriend input {
		padding: 10px 20px;
		height: 20px;
		width: 100px;
		border-radius: 30px;
		border-color: ghostwhite;
	  }
	  

