.FriendCard {padding: 2px;
  width: 450px;
  justify-content: space-between;
  display: flex;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  color: rgb(32, 97, 111);
  cursor: pointer;
  transition: all .35s;
  border-radius: 8px;
  background-color: rgb(248, 248, 255);
}

.FriendCard:hover {
  background: orange;
  color:white;
}

.FriendCard__photo {
  width: 75px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

}

.FriendCard__name {
  align-self: center;
  font-size: 0.9rem;
  font-weight: bold;

  
}

.delete-friend { border-radius: 100px;
  border: none;
  background-color: transparent;
  color:gray;
}
.delete-friend:hover {color:rgb(255, 255, 255);}