.Navbar {
	
	height: 70px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  }
  
  .Navbar__list {
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	padding-right: 20px;
	padding-top: 25px;
	list-style-type: none;
  }
  
  .Navbar__list a {
	color: #515151;
	text-decoration: none;
	font-weight: bold;
  }
  
  .Navbar__list a:hover {
	color: rgb(248, 224, 135);
  }
  .logo {width: 350px;
margin-right: 50px;
padding:5px;}
.filterInput {height: 20px;
margin-top: 10px;
background-color: rgb(235, 236, 237);
border-color: white;
border-radius: 30px;
color:white;
width: 300px;
align-self: flex-end;
margin-right: 200px;
margin-top: 30px;}
.filterInput::placeholder {color:rgb(176, 176, 176);
padding-left:10px;}
input:focus {outline: none;
	border-color: white;
	background-color: rgba(244, 231, 173, 0.453);
  }
.Button__clear--filter {width: 50px;}