.Navbar {
	background-color: whitesmoke;
	height: 70px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
  }
  
  .Navbar__list {
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	padding-right: 20px;
	padding-top: 25px;
	list-style-type: none;
  }
  
  .Navbar__list a {
	color: #515151;
	text-decoration: none;
	font-weight: bold;
  }
  
  .Navbar__list a:hover {
	color: rgb(255, 202, 9);
  }
  .logo {width: 350px;
margin-right: 50px;
padding:5px;align-self: center;}
.filterInput {height: 20px;
margin-top: 10px;
background-color: rgb(235, 236, 237);
border-color: white;
border-radius: 30px;
color:white;
width: 300px;
align-self: flex-end;
margin-right: 300px;
margin-top: 30px;}
.filterInput::placeholder {color:rgb(176, 176, 176);
padding-left:10px;}
input:focus {outline: none;
	border-color: white;
	background-color: rgba(244, 231, 173, 0.453);
  }
.Button__clear--filter {width: 50px;}
.logout {margin-left: 55px;}

.NavBar_hamb button {
	position: fixed;
	left: 40px;
	top: 40px;
	z-index: 10;
	cursor: pointer;
	background: transparent;
  border: none;
  }
  
  .menuNav {
	overflow-y: scroll;
	list-style: none;
	position: fixed;
	
	top: -40px;
	background: darkcyan;
	left: -40px;
	bottom: 0;
	height: 100vh;
	width: 0;
	overflow: hidden;
	max-width: 190px;
	right: -900px;
	z-index: 2;

  }
  
  .menuNav.showMenu {
	width: 100%;
  }
  
  a {
	display: block;
	padding: 10px 40px;
	text-decoration: none;
	color: #3fffd2;
	text-transform: uppercase;
	font-weight: bold;
  }
  
  .menuNav li:first-child {
	margin-top: 7rem;
  }

@media (max-width: 767px) {
	.Navbar {
		background-color: whitesmoke;
		height: 70px;
		width: 100vw;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		justify-content: center;
	  }

	  .logo {width: 150px;
		margin-right: 50px;
		padding:5px;
	padding-top: 80px;}
	.Navbar__list {
		display: flex;
		gap: 20px;
		justify-content: flex-end;
		padding-right: 20px;
		list-style-type: none;
	  }
	  .filterInput {height: 20px;
		margin-top: 10px;
		background-color: rgb(235, 236, 237);
		border-color: white;
		border-radius: 30px;
		color:white;
		width: 300px;
		align-self: flex-end;
		margin-left: 200px;
		margin-top: 30px;}
	
}

