.App {
  color: rgb(24, 24, 24);
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 204, 205);
}

.main__Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
}

.App__friends,
.App_messages {
  color: #424242;

  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addmessage {
  width: 120px;
  padding: 15px 25px;
  border: 0;
  font-weight: bold;
  color: rgb(248, 248, 248);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.35s;
}

.App__friends {
  width: 300px;
  align-items: flex-start;
}

.App__friends h3 {
  margin-left: -50px;
}

@media (max-width: 767px) {
  .Navbar {
    margin-top: 30px;
  }

  .App {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin-top: 20px;
    margin-left: 20px;
  }
  .main__Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .FriendCard {
    scroll-snap-align: start;
    padding: 0;
  }
  .AddFriend {
    padding: 6px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }
  .AddFriend input {
    width: 260px;
  }

  .filterInput {
    width: 150px;
    margin-right: 190px;
  }
  .AddMessage {
    margin-bottom: 40px;
    padding: 6px 20px;
    display: flex;
    width: 310px;
    flex-direction: column;
  }
  .addmessage {
    width: 120px;
    padding: 15px 25px;
    border: 0;
    font-weight: bold;
    color: rgb(248, 248, 248);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.35s;
    align-self: flex-end;
    margin-left: 15px;
  }

  .addmessage:hover {
    filter: saturate(0.6);
  }

  .FriendCard__photo {
    width: 100px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .FriendCardList {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 220px;
  }

  .FriendCard__name {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .MessageCard {
    width: 300px;
    margin-left: 15px;
  }
  .MessageCardList {
    margin-bottom: 30px;
  }
  .App_messages {
    margin-left: 30px;
  }
  .App_messages h3 {
    margin-left: 30px;
  }
  .AddMessage__text {
    height: 90px;
    width: 280px;
  }
  .App__friends {
    margin-left: 100px;
  }
  .App__friends h3 {margin-left: -40px;}
  .FriendCard {
    width: 320px;
  }
  .delete-friend {
    padding: 30px;
  }

  .footer {
    width: 100vw;
  }
  .Modal-login {
    position: absolute;
    top: 30%;
    left: calc(50% - 180px);
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.91);
    color: rgb(32, 32, 32);
    cursor: pointer;
    z-index: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}
